* {
  box-sizing: border-box;
}
:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}
/* header css */
.header__profile {
  margin-top: 40px;
}
.header__container {
  display: flex;
  gap: 40px;
  & p {
    color: var(--n-600);
  }
  & span {
    color: var(--p-600);
  }
}
.header__title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
}
.header__column--left {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;

  & .header__content--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .header__badge_container {
    display: flex;
    gap: 6px;
    text-align: center;
  }
  & .badge {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    color: var(--p-950);
    padding: 4px 12px;
    background-color: var(--p-50);
    border-radius: 4px;
    /* line clamp */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
.header__column--right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
.header__img {
  width: 118px;
  height: 118px;
  background-image: url("../../assets/profile/avatar.jpg");
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0px -1px 1px hsla(0, 0%, 100%, 0.5),
    0 4px 6px -1px hsla(0, 0%, 0%, 0.2), 0 2px 4px -2px hsla(0, 0%, 0%, 0.2),
    inset 0px 1px 3px #000;
}

/* About Me */
.aboutMe__section {
  max-width: 1660px;
  margin: 140px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe__container {
  width: 70%;
  border-radius: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
  padding: 3rem;
}
.aboutMe__container--content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3rem;
  padding: 3rem 0;

  & h1 {
    color: var(--p-600);
  }

  & p {
    color: var(--n-600);
    padding: 0 1rem;
  }
}

.aboutMe__container--h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  text-transform: capitalize;
}

.aboutMe__container--text {
  text-align: center;
  max-width: 65%;
}
.about__container--cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 90%;

  & a {
    padding: 12px 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}
.primaryButton {
  color: white;
  background-color: var(--p-600);
  box-shadow: 0 3px 6px -1px hsla(var(--p-900-code), 0.2),
    0 1px 2px hsla(var(--p-900-code), 0.5);

  &:hover {
    background-color: var(--p-700);
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.2),
      0 2px 4px hsla(var(--p-900-code), 0.3),
      0 1px 2px hsla(var(--p-900-code), 0.5);
  }
}
.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;

  &:hover {
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.1),
      0 2px 4px hsla(var(--p-900-code), 0.3);
  }
}
